body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 255, 253);
}

header {
    background-color: #9ed3c1;
    color: #fff;
    text-align: center;
    padding: 0.4rem 0;
}

.banner {
    background-size: cover;
    background-position: center;
    height: 300px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.banner.pequeno {
    height: 120px;
}

.banner-content {
    width: 80%;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.banner p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0.1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: rgb(0, 128, 100);
}

nav a:hover {
    background-color: rgb(44, 71, 66);
}

main {
    width: 80%;
    margin: 320px auto 2rem auto;
}

.categoria {
    margin-bottom: 2rem;
    width: 100%;
}

.categoria h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.produto {
    background-color: #aee0d8;
    border-radius: 60px;
    padding: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
    display: inline;
    flex-direction: column;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.preco {
    font-weight: bold;
    color: #374945;
    margin-bottom: 1rem;
}

.adicionar {
    cursor: pointer;
    transform: scale(1.5);
    transform-origin: top left;
    margin: 10px;
    position: relative;
}

#pedidos {
    background-color: rgb(187, 216, 202);
    padding: 1rem;
    border-radius: 50px;
}

#lista-pedido {
    list-style: none;
    padding: 0;
}

#finalizar-pedido {
    background-color: rgb(0, 128, 100);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 40px;
    cursor: pointer;
}

#finalizar-pedido:hover {
    background-color: rgb(44, 71, 66);
}

#contato {
    text-align: center;
    margin-top: 2rem;
}

.redes-sociais a {
    background-color: rgb(0, 128, 100);
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    margin: 0.5rem;
}

.redes-sociais a:hover {
    background-color: rgb(44, 71, 66);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: rgb(44, 71, 66);
    color: white;
}

@media (min-width: 768px) {
    main {
        width: 60%;
    }

    .categoria {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }
}

#titulo1, #titulo2 {
    width: 100%;
    text-align: center;
}

.banner.pequeno h1 {
    font-size: 1.5rem;
}

.banner.pequeno p {
    font-size: 0.8rem;
}

.banner h1,
.banner p {
    transition: all 0.3s ease;
}

.banner.pequeno nav a {
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
}